	* {
		margin:0;
		padding:0;
		}
 
	html, body {
		height:100%;
		overflow:hidden;
		}
 
	body {
		background: url('../images/cork_bg.jpg') repeat top left;
		color:#630;
		font:100.01%/1.4 sans-serif;
		text-align:center; /* horizontal centering for IE Win quirks */
		}
 
	#wrapper {
		min-height: 100%;
		height: 100%; 
		width:100%; 
		overflow:hidden; 
		margin-bottom:-53px;
	}
	
	#distance { 
		width:1px;
		height:50%;
		background-color:#fc6;
		margin-bottom:-13.75em; /* half of container's height */
		float:left;
		}
 
	#container {
		margin:0 auto;
		position:relative; /* puts container in front of distance */
		text-align:left;
		height:27.5em;
		width:45em;
		clear:left;
		background: url('images/card.png') no-repeat;
		}
 
	#container div h3 {
		font-size:100%;
		font-weight:bold;
		margin:.5em 0 0 .75em;
		}
 
	#container p {
		margin:1.5em 1.5em 1.5em 3em;
		}
	
	#footer { 
		position: fixed; 
		clear: both; 
		width: 100%; 
		height: 53px; 
		bottom: 0; 
		left: 0;
		border: none; 
		background: url('../images/frame_bottom.jpg') repeat-x bottom left;
	}
