.panel { margin-top:22px; }
p#cross-links { text-align: center }

p#cross-links { margin-bottom: 30px; padding-bottom: 30px }

a:focus { outline:none }

img { border: 0 }

h3 { border-bottom: 1px solid silver; margin-bottom: 5px; padding-bottom: 3px; text-align: left }

.slider-wrap { /* This div isn't entirely necessary but good for getting the side arrows vertically centered */
	margin: 20px 0;
	position: relative;
	width: 100%;
}

.stripViewer { /* This is the viewing window */
	position: relative;
	margin: auto;
	width: 700px; /* Also specified in  .stripViewer .panelContainer .panel  below */
	height: 420px;
	clear: both;
}

.stripViewer .panelContainer { /* This is the big long container used to house your end-to-end divs. Width is calculated and specified by the JS  */
	position: relative;
	left: 0; top: 0;
	width: 100%;
	list-style-type: none;
	/* -moz-user-select: none; // This breaks CSS validation but stops accidental (and intentional - beware) panel highlighting in Firefox. Some people might find this useful, crazy fools. */
}

.stripViewer .panelContainer .panel { /* Each panel is arranged end-to-end */
	float:left;
	height: 420px;
	position: relative;
	width: 700px; /* Also specified in  .stripViewer  above */
}

.stripViewer .panelContainer .panel .wrapper { /* Wrapper to give some padding in the panels, without messing with existing panel width */
	padding: 10px;
}
