									<div style="float:right; width:200px; text-align:right;">
										<h3 style="text-align:right;">Welcome</h3>
										<p id="cross-links">
											<%= link_to 'About', root_url %><br/>
											<%= link_to 'Demo', root_url(:subdomain => 'kylepowers') %><br/>
											<%= link_to 'Log In', login_url %><br/>
											<%= link_to 'Sign Up', new_user_url %><br/>
										</p>
									</div>
									<h3>GrabMyCard.com</h3>
									<p> Welcome to GrabMyCard.com, a unique site for displaying information to your contacts.</p>
